
* {
  margin: 0;
  font-family: 'Montserrat';
  color: rgb(46, 46, 46);
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 5px;
}

h2 {
  color:rgb(58, 103, 104);
  font-size: 20px;
  margin-bottom: 8px;
}

.navbar {
  padding: 30px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color:rgb(60, 101, 102);
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.deleteButton {
  color: black !important;
  border-color: rgb(190, 190, 190);
  border-radius: 6px;
  padding: 6px;
  margin: 15px;
}

.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}